*.icon-green {
    color: green;
}

*.icon-red {
    color: red;
}

*.icon-dark {
    color: grey;
}

.main-body {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 20%;
    border: 1px solid #ccc;
    padding: 25px;
}

.main-content {
    width: 80%;
}

.product-card {
    transition: box-shadow .3s;
}

.product-card:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.amount-column {
    display: flex;
}